{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="img">
            <img src="{% static 'img/Data-Collection.jpg' %}" alt="">
        </div>
        <h2>Polling Unit Counter</h2>
        <form method="post" id="pu">
            {% csrf_token %}
            <div class="input">
                <input type="text" name="lga" id="lga" placeholder="Enter a Local Government Name">
            </div>
            <div class="btn">
                <button>Count</button>
            </div>
            <div class="result">
                <span>--</span>
            </div>
        </form>
    </div>

    <script src="{% static 'js/JQ.js' %}"></script>
    <script>
        // ajax
        $(document).on('submit', '#pu', function (e){
            e.preventDefault();

            var display = $('span');

            var formData = new FormData($(this)[0]);

            $.ajax({
                type: 'POST',
                url: '/',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response){
                    var success = response['success'];
                    if(success){
                        // NORMAL ALERT warning, error, success
                        display.html('');
                        display.append(response['message']);
                    }else{
                        display.html('');
                        display.append(response['message']);
                    }
                }
            });
        });
    </script>

</body>
</html>